$dark: #2B2B2B;
$navy: #020E35;
$pink: #E73587;

body {
    font-family: 'Basic', sans-serif;
}

.text-dark {
    color: $dark;
}

.text-navy {
    color: $navy;
}

.text-pink {
    color: $pink;
}

.bg-dark {
    background-color: $dark;
}

.bg-navy {
    background-color: $navy;
}

.bg-pink {
    background-color: $pink;
}

.btn-brand-primary {
    background: rgb(140, 50, 240);
    background: linear-gradient(-90deg, rgba(140, 50, 240, 1) 0%, rgba(231, 53, 135, 1) 100%);
    color: #ffffff;
    border-radius: 0;
    border: none;

    &:hover {
        color: #ffffff;
        background: rgb(127, 38, 228);
        background: linear-gradient(-90deg, rgba(127, 38, 228, 1) 0%, rgb(215, 35, 119) 100%);
    }
}

// begin::Navbar
.navbar {
    &-brand img {
        width: 60px;
        margin: -21% 0;

        @media (min-width: 768px) {
            width: 80px;
            margin-top: -16%;
            margin-bottom: -60%;
        }
    }

    .nav-link:not(.btn) {
        color: #000000;
    }
}

// end::Navbar

// begin::Jumbotron
.jumbotron {
    img {
        width: 100%;

        @media (min-width: 768px) {
            width: 110%;
        }
    }
}

// end::Jumbotron

.bottom-line {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: -0.5rem;
        width: 120px;
        height: 2px;
        background-color: $pink;
        left: 50%;
        transform: translateX(-50%);
    }
}